<%= link_to "Log_out", destroy_user_session_path, method: :delete %>
<%= link_to "Log_in", user_session_path %>
<%= link_to "Sign_up", new_user_registration_path %>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
