<div class="col-md-4 blog-main box text-center">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%=link_to category.Name, category_path(category) %></h3>
      <p><%= category.Description %></p>
    </div>
  </div>
</div>